:root {
  --text-color: #757575; 
  --text2-color: #2196F3;
  --text3-color: #212121;
  --text4-color: #FFFFFF;
  --background-color: #2F303A;
  --background2-color: #F5F4FA;
  --background3-color: #E5E5E5;
  --background4-color: #FFFFFF;
  --background5-color: #2196F3;
}


body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--text-color);
}

.headline{
  background-color: var(--background4-color);
}

.headline .link {
  text-decoration: none;
}

.logo {
  color: #2196F3,
  font: Raleway;
  font-weight: 700; 
  font-size: 26px;
  font-style: normal;
  line-height: 1.193;
  text-decoration: none;
}

.navigation .link {
  text-decoration: none;
}

.navigation {
  color: var(--text3-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
}

.link { 
  color: var(--text3-color);
  text-decoration: none;
}

.link:hover {
  color: var(--text2-color);
}

.bluelink {
  color: var(--text2-color);
}

.bluelink-active {
  color: var(--text2-color);
}

.contact-color {
  color: var(--text-color);
  text-decoration: none;
}

.main-text {
  color: var(--text4-color);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.main-button {
  background-color: var(--background5-color);
  color: var(--text4-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.button {
  cursor: pointer;
  color: var(--text3-color);
  list-style: none;
}

.button .button:hover,
.button .button:focus {
  background-color: var(--background5-color);
  color: var(--text4-color);
}

.button-portfolio {
  color: var(--text3-color);
  background-color: var(--background4-color);
  left: 639px;
  top: 174px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
}

.text {
  color: var(--text3-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  list-style: none;
}

.text-background-color {
  background-color: var(--background4-color);
}

.text-describe {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.job-describe {
  color: var(--text3-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  list-style: none;
}

.team-describe {
  color: var(--text3-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  list-style: none;
}

.section-team {
  background-color: var(--background2-color);
 
}

.photo {
  color: var(--text3-color);
  background-color: var(--background4-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.photo-main {
  list-style: none;
}

.photo-describe {
  color: var(--text-color);
  background-color: var(--background4-color);
  font-size: 16px;
  line-height: 1.18;
}

.photo-portfolio {
  color: var(--text3-color);
  background-color: var(--background4-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.location {
  color: var(--text4-color);
  font-size: 14px;
  line-height: 1.71;
}


.footnote {
  background-color: var(--background-color);
  line-height: 1.71;
}

.footnote .link {
  text-decoration: none;
}

.main-background-color{
background-color: var(--background4-color)
}

.cards {
  list-style: none;
}